<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./bee_16_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{68,852},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bg_1280_720</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1280,720}</string>
    <key>spriteSourceSize</key>
    <string>{1280,720}</string>
    <key>textureRect</key>
    <string>{{0,0},{1280,720}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ground_1280_128</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1280,128}</string>
    <key>spriteSourceSize</key>
    <string>{1280,128}</string>
    <key>textureRect</key>
    <string>{{0,722},{1280,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bunny_64_32</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,64}</string>
    <key>spriteSourceSize</key>
    <string>{32,64}</string>
    <key>textureRect</key>
    <string>{{0,852},{32,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bunny_sit_32_32</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{34,852},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1282,918}</string>
   <key>textureFileName</key>
   <string>jumpy_sprites.png</string>
  </dict>
 </dict>
</plist>
