<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./bee_32_28</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,27}</string>
    <key>spriteSourceSize</key>
    <string>{32,28}</string>
    <key>textureRect</key>
    <string>{{441,852},{32,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bee_32_28_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,24}</string>
    <key>spriteSourceSize</key>
    <string>{32,28}</string>
    <key>textureRect</key>
    <string>{{302,919},{32,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bg_1280_720</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1280,720}</string>
    <key>spriteSourceSize</key>
    <string>{1280,720}</string>
    <key>textureRect</key>
    <string>{{0,0},{1280,720}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bunny_dive_96_48</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{42,96}</string>
    <key>spriteSourceSize</key>
    <string>{48,96}</string>
    <key>textureRect</key>
    <string>{{258,919},{42,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bunny_jump_96_48</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,96}</string>
    <key>spriteSourceSize</key>
    <string>{48,96}</string>
    <key>textureRect</key>
    <string>{{341,852},{48,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bunny_stand_96_48</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{48,94}</string>
    <key>spriteSourceSize</key>
    <string>{48,96}</string>
    <key>textureRect</key>
    <string>{{391,852},{48,94}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./finger_83_68</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,65}</string>
    <key>spriteSourceSize</key>
    <string>{83,68}</string>
    <key>textureRect</key>
    <string>{{258,852},{81,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ground_1280_128</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1280,128}</string>
    <key>spriteSourceSize</key>
    <string>{1280,128}</string>
    <key>textureRect</key>
    <string>{{0,722},{1280,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./tree_256_720</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-130}</string>
    <key>spriteSize</key>
    <string>{256,460}</string>
    <key>spriteSourceSize</key>
    <string>{256,720}</string>
    <key>textureRect</key>
    <string>{{0,852},{256,460}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1282,1314}</string>
   <key>textureFileName</key>
   <string>jumpy_sprites.png</string>
  </dict>
 </dict>
</plist>
